<body ng-app="mainModule" ng-controller="mainController">
    <div id="login-page" class="container">
        <div class="container  fondo ">
          <form class="container " method="post">
            <div class="row">
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">mail_outline</i>
                <input class="validate" id="email" type="email" required>
                <label for="email" data-error="wrong" data-success="right">Email</label>
              </div>
            </div>
            
            
            
            <div class="row">
              <div class="input-field col s12">
                <button  class="btn waves-effect waves-light col s12 blue" type="submit">Enviar</button>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6 m6 l6">
                <p class="margin medium-small"><a href="/register"  >Registrate ahora!</a></p>
              </div>
          
            </div>
    
          </form>
        </div>
      </div> </body>
    