<body ng-app="mainModule" ng-controller="mainController">
    <div id="login-page" class="container">
        <div class="container  fondo ">
          <form class="container " method="post">
            <div class="row">
                
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input  id="nombre" type="text" required>
                <label for="nombre" >Nombre</label>
              </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <input  id="apellido" type="text" required>
                  <label for="apellido" >Apellido</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">assignment_ind</i>
                  <input id="cedula" type="text" required>
                  <label for="cedula" >Cedula</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">mail_outline</i>
                  <input class="validate" id="email" type="email" required>
                  <label for="email" data-error="wrong" data-success="right">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">phone</i>
                  <input class="validate" id="phone" type="text" required>
                  <label for="phone" data-error="wrong" data-success="right">Phone</label>
                </div>
              </div>
              
              
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input id="password" type="password" required>
                <label for="password">Contraseña</label>
              </div>
            </div>
            
            
            <div class="row">
              <div class="input-field col s12">
                <button  class="btn waves-effect waves-light col s12 blue" type="submit">enviar</button>
              </div>
            </div>
           <div><br></div>
    
          </form>
        </div>
      </div> </body>
    
    