<div class="section no-pad-bot" id="index-banner">
  <div class="container colorletras">
    <br><br>
    <h1 class="header center white-text  ">MascotaFeliz </h1>
    <div class="row center">
      <h5 class="header col s12 light -text white-text ">Bienvenidos a la mejor veterinaria</h5>
    </div>
    <div class="row center">
      <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>-->
      <!-- Modal Trigger -->
      <div >
        <a class="waves-effect waves-light btn modal-trigger btn-large waves-effect waves-light orange separar "
        routerLink="/login">entrar</a>
        <a class="waves-effect waves-light btn modal-trigger btn-large waves-effect waves-light blue separar"
        routerLink="/register">registrarse</a>
      </div>
      <!-- Modal Structure LOGIN -->

      <!--  <div class="modal-content">
          <h4>LOGIN</h4>
          <p>A bunch of text</p>
        </div> -->


     






    



      <br><br>

    </div>
  </div>


  <div class="container  ">
    <div class="section white-text colorletras ">

      <!--   Icon Section   -->
      <div class="row  ">
        <div class="col s12 m4  ">
          <div class="icon-block  ">
            <h2 class="center light-blue-text"><i class="material-icons">pets</i></h2>
            <h5 class="center ">Familia</h5>

            <p class="light">MascotaFeliz está enfocada en el bienestar, la salud y la estética de su mascota, por ende,
              presentamos y brindamos los mejores servicios para que ella esté siempre contenta y sus dueños totalmente
              satisfechos.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">content_cut</i></h2>
            <h5 class="center">Servicios</h5>

            <p class="light">Contamos con servicios de: Veterinaria, veterinario a domicilio, salones de spa con
              herramientas de última tecnología, salón de estética y productos de la mejor calidad y seguro para que
              usted
              y su mascota estén a total gusto con nosotros.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">favorite</i></h2>
            <h5 class="center">Nosotros</h5>

            <p class="light">MascotaFeliz fue generada gracias al equipo Pokemones Developers con el fin de analizar y
              diseñar variedad de prototipos de página tomando este como el inicio de nuestra aventura por el mundo de
              programación y el desarrollo web. Doy gracias al programador Esteban Janiot, Carlos Fadul y Mintic2022 por
              hacer posible nuestros sueños.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>