<nav class="nav">
    <div class="nav-wrapper">
      
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/inicio">Inicio</a></li>
        <li><a routerLink="/tienda">Tienda</a></li>
        <li><a routerLink="/seguridad/register">Registrarse</a></li>
        <li><a routerLink="/seguridad/login">Entrar</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a routerLink="/inicio">Inicio</a></li>
    <li><a routerLink="/tienda">Tienda</a></li>
    <li><a routerLink="/seguridad/register">Registrarse</a></li>
    <li><a routerLink="/seguridad/login">Entrar</a></li>
  </ul>